.container {
    background-color: var(--mat-sys-inverse-primary);
    width: 280px;
    height: 100%;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    padding: 16px 0px;
    gap: 12px;
}

h2 {
    color: var(--mat-sys-on-primary-container);
    padding: 0 20px
}

.chats-list {
    list-style: none;
    padding: 0;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

.new-chat-btn {
    margin-top: auto;
    align-self: center;
    width: 180px;
}