.container {
    background-color: var(--mat-sys-inverse-primary);
    width: 280px;
    height: 100%;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    padding: 16px 0px;
    width: 100%;
    gap: 12px;
}

h2 {
    color: var(--mat-sys-on-primary-container);
    padding: 0 16px
}

.chats-list {
    list-style: none;
    padding: 0;
    width: 100%;
    min-height: 0;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--mat-sys-primary) transparent;
    scrollbar-gutter: auto;
}

.new-chat-btn {
    margin-top: auto;
    align-self: center;
    width: 180px;
}

.short-text {
    display: none;
}

@media (max-width: 768px) {
    .content {
        padding-bottom: 5px;
    }
    
    h2 {
        display: none;
    }

    .container {
        width: 100px;
    }

    .new-chat-btn {
        width: 80px;
        font-size: 12px;
        height: 30px;
        padding: 0px;
    }

    .short-text {
        display: inline;
    }

    .full-text {
        display: none;
    }
}