<div class="container">
    <div mat-dialog-content class="content">
        <h1 mat-dialog-title>Add a new chat</h1>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="chatName" required />
        </mat-form-field>

        <h2>Add members</h2>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Username</mat-label>
            <input matInput [formControl]="formControl" [matAutocomplete]="auto" placeholder="Search user..." />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUser" (optionSelected)="onUserSelected($event)">
                @for (option of filteredOptions | async; track option.id) {
                <mat-option [value]="option">
                    <mat-icon class="user-icon">person</mat-icon>
                    {{ option.username }}
                </mat-option>
                }
            </mat-autocomplete>
        </mat-form-field>
        <div class="selected-users" *ngIf="selectedUsers.length > 0">
            <h3>Selected members:</h3>
            <mat-chip-listbox>
                @for (user of selectedUsers; track user.id) {
                <mat-chip-option color="primary" (removed)="removeUser(user.id)">
                    <mat-icon matChipAvatar>person</mat-icon>
                    {{ user.username }}
                    <button matChipRemove aria-label="Remove {{ user.username }}">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-chip-option>
                }
            </mat-chip-listbox>
        </div>
    </div>
    <div mat-dialog-actions class="dialog-actions">
        <button matButton="filled" (click)="cancel()">Cancel</button>
        <button matButton="filled" (click)="create()" [disabled]="!chatName || selectedUsers.length === 0">
            Create
        </button>
    </div>
</div>