.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  height: 100%;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  overflow-y: none;
}

.full-width {
  width: 100%;
}

.description {
  margin: 0;
  color: var(--mat-sys-on-surface-variant);
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 10px;
}