<div class="signup">
    <div class="panel">
        <h1 class="title">Sign up</h1>
        <p class="subtitle">Create new account</p>

        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form" autocomplete="on">
            <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                <mat-label>Username</mat-label>
                <mat-icon matIconPrefix>person</mat-icon>
                <input matInput name="username" placeholder="john" formControlName="username" />
                @if (form.get('username')?.hasError('required')) {
                <mat-error>Username is required</mat-error>
                }
                @else if (form.get('username')?.hasError('minlength')) {
                <mat-error>Minimum 3 characters</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                <mat-label>Password</mat-label>
                <mat-icon matIconPrefix>lock</mat-icon>
                <input matInput type="password" name="password" placeholder="••••••" formControlName="password" />
                @if (form.get('password')?.hasError('required')) {
                    <mat-error>
                        Password is required
                    </mat-error>
                }
                @else if (form.get('password')?.hasError('minlength')) {
                    <mat-error>
                        Minimum 6 characters
                    </mat-error>
                }
            </mat-form-field>

            <p class="error-msg">{{ errorMsg }}</p>

            <button matButton="filled" type="submit">Sign up</button>
        </form>

        <div class="extras">
            <a href="login" class="link">Already have an account? Log in.</a>
        </div>
    </div>
</div>