.container {
    color: var(--mat-sys-on-primary-container);
    padding: 20px;
    margin: 5px 0px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 16px;
}

.container:hover {
    background-color: var(--mat-sys-surface-tint);
    color: var(--mat-sys-surface);
    cursor: pointer;
}