.container {
    width: 180px;
    display: flex;
    background-color: var(--mat-sys-inverse-primary);
    height: 100%;
    border-radius: 0 20px 20px 0;
}

h2 {
    padding: 16px 0px 0px 10px;
    color: var(--mat-sys-on-primary-container);
}