.container {
    width: 220px;
    display: flex;
    background-color: var(--mat-sys-inverse-primary);
    height: 100%;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    padding: 16px;
    gap: 16px;
}

h2 {
    margin: 0;
    color: var(--mat-sys-on-primary-container);
}

ul {
    margin: 0;
    padding: 0 4px 0 0;
    list-style: none;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

li {
    color: var(--mat-sys-on-primary-container);
    font-size: 16px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-user-btn {
    align-self: stretch;
    margin-top: auto;
}
